#map-layout {
    width: 896px;
    height: 832px;
    position:absolute;
}

#tiles {
    position: absolute;
    width: 832px;
    height: 768px;
    left: 64px;
    top: 64px;
    z-index: 100;
}

#grid-label {
    position:absolute;
    width: 896px;
    height: 832px;
}

#grid-label div {
    width: 64px;
    height: 64px;
    color: white;
    font-weight: bold;
    line-height: 64px;
    text-align: center;
    font-size: 30px;
}

#A8 {
    position: absolute;
    left: 320px;
    top: 0px;
    transform: rotate(180deg);
}

#endA1 {
    position:absolute; 
    left: 256px;
    top: 64px;
    transform: rotate(90deg);
    transform-origin:32px 32px;
}

#endA2 {
    position:absolute; 
    left: 256px;
    top: 576px;
    transform: rotate(90deg);
    transform-origin: 32px 32px;
}

#endA3 {
    position:absolute; 
    left: 768px;
    top: 384px;
    transform: rotate(270deg);
    transform-origin: 32px 32px;
}

#A16 {
    position:absolute;
    left: 320px;
    top: 256px;
    transform: rotate(0deg);
}

#A12 {
    position:absolute;
    left: 0px;
    top: 448px;
    transform: rotate(270deg);
    transform-origin: 32px 32px;
}

#exitA {
    position:absolute;
    left: 128px;
    top: 64px;
    transform: rotate(90deg);
    transform-origin: 32px 32px;
}

#exitA2 {
    position:absolute;
    left: 128px;
    top: 64px;
    transform: rotate(90deg);
    transform-origin: 32px 32px;
}

#A26 {
    position:absolute;
    left: 576px;
    top: 448px;
    transform: rotate(270deg);
    transform-origin: 32px 32px;
}

#A9 {
    position:absolute;
    left:320px;
    top: 512px;
    transform: rotate(0deg);
}

#entranceA {
    position:absolute;
    left:576px;
    top: 576px;
    transform: rotate(180deg);
}

#hero1 {
    background-image: url(../../../assets/img/heroes/tokens/ashrian.png);
}